@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(http://fonts.googleapis.com/css?family=Pacifico);


body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: #666666;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    background: #fff;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

img {
    width: 100%;
}

#home .heading {
    padding: 10px;
}

#home .heading h1 {
    font-family: 'Pacifico', cursive;
    color: #263238;
    text-shadow: 2px 2px #F06292;
}

#home .heading h2 {
    font-family: 'Pacifico', cursive;
    color: #263238;
}

#mission h3{
    color: #263238;
}

#mission p{
    color: white;
}

#mission {
    background-color: #F06292;
    color: white;
}

#padded {
    margin: 10px;
}

#aboutUs .feature {
    background-color: white;
    opacity: 0.9;
    border-radius: 25px;
    padding: 50px;
    margin-top: 30px;
    margin-bottom: 54px;
    box-shadow: 5px 5px 1px #F06292;
}

#aboutUs .right {
    padding-left: 32px;
    float: right;
}

#aboutUs .left {
    padding-right: 32px;
    float: left;
}

#aboutUs {
    padding-top: 35px;
    padding-bottom: 25px;
    color: #F06292;
}

#aboutUs h2{
    font-family: 'Raleway', sans-serif;
}

#aboutUs p {
    color: #263238;
}

.core-value {
    padding: 50px;
}

.rounded {
    border-radius: 25px;
}

.copyright {
    color: #FFF4F4;
    background: #F06292;
    padding: 20px 0;
}


@media (max-width: 990px) {

    .stacked {
        border-bottom: double;
        border-color: #47595f;
    }
}

@media (min-width: 768px) {
    html,body {
        background: url(../img/background-xxl.jpg) no-repeat top center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .banner-container {
        height: 250px;
    }

    #home .heading h1 {
        font-size: 65px;
    }

    #home .heading h2 {
        font-size: 45px;
    }

    .flower-icon {
        width:80px;
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    html,body {
        background: url(../img/background-xl.jpg) no-repeat top center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .banner-container {
         height: 200px;
     }

    #home .heading h1 {
        font-size: 60px;
    }

    #home .heading h2 {
        font-size: 40px;
    }

    .flower-icon {
        width:75px;
        margin-top: 25px;
    }
}

@media (max-width: 760px) {
    html,body {
        background: url(../img/background-l.jpg) no-repeat top center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .banner-container {
        height: 190px;
    }

    #home .heading h1 {
        font-size: 50px;
    }

    #home .heading h2 {
        font-size: 35px;
    }

    .flower-icon {
        width:70px;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    html,body {
        background: url(../img/background-m.jpg) no-repeat top center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .banner-container {
        height: 150px;
    }

    #home .heading h1 {
        font-size: 30px;
    }

    #home .heading h2 {
        font-size: 25px;
    }

    .flower-icon {
        width:65px;
        margin-top: 15px;
    }

    .copyright {
        font-size: 13px;
    }
}

@media (max-width: 320px) {
    html,body {
        background: url(../img/background-s.jpg) no-repeat top center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .banner-container {
        height: 130px;
    }

    #home .heading h1 {
        font-size: 28px;
    }

    #home .heading h2 {
        font-size: 20px;
    }

    .flower-icon {
        width:60px;
        margin-top: 10px;
    }
}





